* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #431215;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #431215;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


  *{
    margin: 0;
    padding: auto;
}
h1{
    font-family:'Kalimati';
}
h3{
    font-size: calc(1.00em + 1.00vw);
    font-family: 'Manjari';
}

.patinhas{
    width: 10vw;
    height: 15vw;
    margin: -12vw;
    margin-left: -6vw;
}
.menu-conteudo{
    display: inline-block;
    margin: 1vw;
    font-family: initial;
    font-size: calc(0.90em + 0.50vw);
}
.div-menu{
    text-align: center;
    padding: 7vw;
}
.imagem-responsivaPatinha{
    display: flex;
}
.colaboradora{
    width: 50%;
    height: 50%;
    margin: 4vw;
}
.colaboradores-class{
    text-align: center;
    margin-top: -13vw;

}
.colaboradores-class p{
    font-family: initial;
    font-size: calc(0.90em + 0.50vw);
    width: 50vw;
    text-align: left;
    margin-left: 25vw;
    margin-top: -3vw;
}

.Allhistorias-Pets{
    margin-top: 5vw;
}
.imagem{
    width: 67vw;
    display: contents;   
}
#imagemPet{
margin: 15px;
 height: 36vw;
}
.imagemPet1{
    width: 43vw;
    height: 23vw;
    margin-left: 52vw;
}
.carousel-inner{
    width: 34vw;
    height: 34vw;
    display: inline-block;
}

.carousel-control-next{
    margin-right: 53vw;
}
.historia-Pet{
   
    margin-left: 51vw;
    padding: 1vw;
    margin-top: -24vw;
}
h3{
    text-align: center;
}
.Hist2{
    margin-top: 14vw;
 
}
.conteudo-Hist2{
    margin-right: 51vw;
    padding: 1vw;
    margin-top: -16vw;
}   
#imagemPet3{
    margin: 15px;
    height: 26vw;
    margin-left: 10vw;
}
h5{
    font-size: calc(1em + 1vw);
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.penultimo{    text-align: center; margin-top: 10vw;}
.penultimo p{
    padding: 0vw;
    margin: 1vw;
    text-align: revert;
}
.ultimo{
    margin-top: 14vw;
    text-align: center;
    display: inline;
}
h4{
    margin-left: 4vw;
}
.historia-sthe{
    display: grid;
    margin-top: -17vw;
    width: 45vw;
    margin-left: 31vw;
}
.positividade{
    margin-top: 15vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
